.container {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 2px;
    gap: 2px;
}


.button {
    margin: 0;

    color: inherit;

    background-color: #fff;

    border: 1px solid #777;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 36px;
    height: 36px;
}

.button label {
    display: block;
    margin-left: 4px;
}

.button:hover {
    background-color: #eee;
}