.container {
    position: absolute;

    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 4px;
    gap: 4px;
}

.button {
    width: 40px;
    height: 40px;
}