.container {
    position: relative;

    display: flex;

    flex: 1;

    overflow: scroll;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}