.header {
    padding: 4px;

    display: flex;

    justify-content: space-between;

    border-bottom: 1px solid #777;
}

.title {
    padding: 8px 12px;

    display: flex;

    align-items: flex-end;
}

.title h1 {
    line-height: 28px;
}

.address {
    margin-left: 6px;
}